#content
  %h1= 'Prices | <i>Individual and group rates</i>'
  %p= 'For an <b>individual</b>, prices will vary depending on the sport, level, location, and type of event, but regardless of those variables all individuals are guaranteed a minimum number of high-quality, well-composed, print-ready images.'
  %p= 'The base price for standard youth or high school field sports (soccer, football, baseball, etc) during the regular season and considered local is generally $300. Please see the <a href="/services">services</a> section for a compete explanation of what that price includes.'
  %p= '<b>Group</b> packages are a great way to save some money, and ensure a large number of nice images for things like team banquets. Again, the rates will change based on circumstances but, for instance, a group of 10 utilizing the group rate at the previously mentioned soccer game would save $100 per person.'
  %p= 'Because there is a significant difference between a three hour football game, and a four minute gymnastics routine, and some events require lighting, press passes, or greater travel, the best way to determine pricing is to contact Stop Motion Photo at (617) 297 – STOP'
  %p= '<small>(All prices are subject to change. Please contact Stop Motion Photo for a quote.)</small>'